@import url('http://fonts.cdnfonts.com/css/avantgarde-bk-bt-2');

* {
  box-sizing: border-box;
}

body {

  color: #fff;
  background-color: #101010;
  font-family: 'AvantGarde Bk BT', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 50px;
  text-align: center;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
